@model MVCCrud.Models.CustomModel.NewRegistrationModel

@{ Layout = "~/Views/Shared/_LoginLayout.cshtml"; }

<script>
    function resetForm() {
        let role = document.getElementById("Role").value;
        document.getElementById("sign-up").reset();
        document.getElementById("Role").value = role;
    }

    $(document).ready(function () {
        $.ajax({
            url: '/Login/GetAllStates',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var states = response;
                $.each(states, function (index, state) {
                    $('#StateID').append($('<option>', {
                        value: state.StateID,
                        text: state.StateName
                    }));
                });
            },
            error: function (xhr, status, error) {
                console.error('Error fetching states:', error);
            }
        });

        $('#StateID').on('change', function () {
            let stateID = $('#StateID').val();
            if (stateID === "")
                return;
            $.ajax({
                url: '/Login/GetAllCities?stateID=' + stateID,
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    var cities = JSON.parse(response);
                    $('#CityID').html("<option selected>Select City</option>");
                    $.each(cities, function (index, city) {
                        $('#CityID').append($('<option>', {
                            value: city.CityID,
                            text: city.CityName
                        }));
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching states:', error);
                }
            });
        })


    });
</script>


<div class="d-flex">
    <div class="w-100">
        <h3 class="mb-4">Sign Up</h3>
    </div>
</div>
<form method="post" novalidate id="sign-up">
    <select class="form-select py-3" id="Role" name="Role" onchange="resetForm()">
        <option>Select Role</option>
        <option value="Student">Student</option>
        <option value="Teacher">Teacher</option>
    </select>
    @Html.ValidationMessage("Role", new { @class = "text-danger" })
    <div class="row">
        <div class="form-floating mt-3 col-6">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "", @type = "text" })
            @Html.LabelFor(m => m.Username, "Username", new { @class = "ms-3" })
            @Html.ValidationMessageFor(m => m.Username, null, new { @class = "text-danger" })
        </div>
        <div class="form-floating mt-3 col-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "", @type = "email" })
            @Html.LabelFor(m => m.Email, "Email Address", new { @class = "ms-3" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-floating mt-3 col-12">
            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", @placeholder = "" })
            @Html.LabelFor(m => m.Address, "Address", new { @class = "ms-3" })
            @Html.ValidationMessageFor(m => m.Address, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-floating mt-3 col-4">
            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control", @placeholder = "", @type = "text" })
            @Html.LabelFor(m => m.ContactNumber, "Phone Number", new { @class = "ms-3" })
            @Html.ValidationMessageFor(m => m.ContactNumber, null, new { @class = "text-danger" })
        </div>

        <div class="mt-3 col-4">
            <select class="form-select py-3" name="StateID" id="StateID">
                <option value="" selected>Select State</option>
            </select>
            @Html.ValidationMessage("StateID", new { @class = "text-danger" })
        </div>

        <div class="mt-3 col-4">
            <select class="form-select py-3" name="CityID" id="CityID">
                <option value="" selected>Select City</option>
            </select>
            @Html.ValidationMessage("CityID", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-floating mt-3 col-6">
            @Html.TextBoxFor(m => m.og_pass, new { @class = "form-control", @placeholder = "", @type = "password" })
            @Html.LabelFor(m => m.og_pass, "Password", new { @class = "ms-3" })
            @Html.ValidationMessageFor(m => m.og_pass, null, new { @class = "text-danger" })
        </div>
        <div class="form-floating mt-3 col-6">
            @Html.TextBoxFor(m => m.cnf_pass, new { @class = "form-control", @placeholder = "", @type = "password" })
            @Html.LabelFor(m => m.cnf_pass, "Confirm Password", new { @class = "ms-3" })
            @Html.ValidationMessageFor(m => m.cnf_pass, null, new { @class = "text-danger" })
        </div>
    </div>
    <input type="checkbox" onclick="togglePassword()" />
    <label>Show Password</label>
    <div class="form-group mt-3">
        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
    </div>
</form>
<p class="text-center">Already have an account? <a href="/Login/SignIn">Sign In</a></p>

<script>
    $(document).ready(function () {

        $(function () {
            $("#sign-up").validate();
        })

    })

    function togglePassword() {
        var x = document.getElementById("og_pass");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>