<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Control</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/Theme/bs_theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Theme/bs_theme/css/sb-admin-2.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</head>

<body id="page-top">
    @if (@TempData["emessage"] != null)
     {
        <script>
            toastr.error('@TempData["emessage"]');
        </script>
     }

    @if (@TempData["smessage"] != null)
    {
        <script>
            toastr.success('@TempData["smessage"]');
        </script>
     }

    @if (@TempData["wmessage"] != null)
    {
        <script>
            toastr.warning('@TempData["wmessage"]');
        </script>
     }

    <!-- Page Wrapper -->
    <div id="wrapper">

        @Html.Partial("Sidebar")

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                @Html.Partial("Topbar")
                @RenderBody()

            </div>
            <!-- End of Main Content -->

            @Html.Partial("Footer")

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/Login/SignOut">Logout</a> 
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Theme/bs_theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/Theme/bs_theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Theme/bs_theme/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/Theme/bs_theme/js/sb-admin-2.min.js"></script>

</body>

</html>